{
  "presets": ["es2015", "react"],
  "plugins": ["transform-decorators-legacy",
    "transform-object-assign",
    "transform-decorators",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-async-to-generator",
    "transform-runtime"
  ]
}