
.mi-app-login{
  width:30vw;
  position: absolute;
  top: 50%;
  left:50%;
  height: 40vh;
  margin: -20vh 0 0 -15vw;
  background:#fff;
  padding:20px;
  border-radius: 10px;
  .mi-app-login-title{
    width:120px;
    height:40px;
    font-size:20px;
    margin:0 auto;
    color: rgba(111, 111, 111, 0.85);
    text-align: center;
    margin-bottom:20px;
  }
  .mi-app-login-form {
    margin:20px 0;
    .mi-app-login-form-item {
      text-align: right;
    }
  }
  .mi-app-login-button{
    margin:0 auto;
    width: 100%;
    background: brown;
    color: #fff;
    margin-top:30px;
  }
}